<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stalker_Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Stalker_Studio.Properties.Settings>
            <setting name="ui_icon" serializeAs="String">
                <value>ui_icon_equipment.dds</value>
            </setting>
            <setting name="browser_mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="section_mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Encoding_LTX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Encoding_XML" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mode_ltx_form" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ltx_all_param" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Replace_Link" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="text_Links" serializeAs="String">
                <value>string_table_items.xml,string_table_enc_weapons.xml,string_table_outfit.xml,string_table_enc_equipment.xml</value>
            </setting>
            <setting name="LastOpenIndex" serializeAs="String">
                <value />
            </setting>
            <setting name="InitXmlStat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IndexXmlBrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMarkers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnorePather" serializeAs="String">
                <value />
            </setting>
            <setting name="UseIgnorePather" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveColorLtx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Encoding_Scripts" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RemoveColorScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalizationShortPath" serializeAs="String">
                <value>rus</value>
            </setting>
            <setting name="FirstStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseHints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseTranslatePrm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadSectHints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatPointHints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadInfoportionHints" serializeAs="String">
                <value>False</value>
            </setting>
        </Stalker_Studio.Properties.Settings>
    </userSettings>
</configuration>